<!--<div class="container">-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/pages/menu">Cafe</a>
        </div>
    </nav>
<!--</div>-->
